body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: darkblue;
}

.header {
  width: 100%;
  padding-top: 0.8rem;
  background-color: lightseagreen;
  border-bottom: 0.25rem solid darkblue;
}

.top-title {
  width: 100%;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  background-color: lightseagreen;
  color: darkblue;
  font-size: 3em;
}

.rules {
  text-align: center;
  color: darkblue;
}

.info-bar {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-size: x-small;
}

.info-bar .score {
  display: flex;
  justify-content: right;
}

.info-bar .timer {
  display: flex;
  justify-content: left;
}

#show-score {
  width: 100%;
  margin: 0;
  text-align: left;
  text-decoration: underline;
  background-color: lightseagreen;
  color: darkblue;
  font-size: 3em;
}

#question-div,
#high-scores,
#right-wrong-answer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: inside;
  font-size: 2rem;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  border: 0.25rem solid darkblue;
  color: darkblue;
  background-color: lightseagreen;
}

#question-div h2 {
  font-size: 2rem;
  margin: 10px;
}

#correctAnswer {
  font-size: 1.8rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

#start-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  height: 10rem;
  border: 0.25rem solid darkblue;
  border-top: none;
  background-color: lightseagreen;
}

.choiceButtons {
  padding: 0.25rem;
  margin: 1rem;
  font-size: 1.5rem;
}

.buttons:hover {
  background-color: rgb(77, 145, 247);
  color: darkblue;
}

.buttons {
  padding: 0.25rem;
  margin: 1rem;
  border: 0.25rem solid rgb(34, 120, 178);
  font-size: 1.5rem;
  background-color: darkblue;
  color: lightseagreen;
}
